* {
	margin: 0px;
	padding: 0px;
}
body{
	font-size: 150%;
	background-color:#F8F8FF;
	background: url('himalaya.jpg') no-repeat;
	background-position: center;
}
h1{
	font-size: 250%;
	background:#5F9EA0;
	text-align: center;
	color:white;
	font-family:  'Alegreya Sans',sans-serif;
	border: 1px solid;
	margin:  auto 0px;
	padding: 30px;
	opacity:0.9;
}

.header{
		width: 30%;
		margin: 5px auto 0px;
		color: white;
		background: #5F9EA0;
		text-align: center;
		border: 1px solid #B0C4DE;
		border-bottom: none;
		border-radius: 10px 10px 0px 0px;
		padding: 20px;
		opacity: 0.9;
}
form {

	width: 30%;
	margin: 5px auto;
	padding: 20px;
	border: 1px solid #B0C4DE;
	background: white;
	border-radius: 0px 0px 10px 10px;
	opacity: 0.9;
}
.content{
	width: 30%;
	margin: 5px auto;
	padding: 20px;
	border: 1px solid #B0C4DE;
	background: white;
	border-radius: 0px 0px 10px 10px;

}
.input-group {
	margin: 10px 0px 10px 0px;
}

.input-group label{
	display:block;
	text-align: left;
	margin: 3px;
}
.input-group input{
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
.input-group button{
	font-size:20px;
}
.btn {
	padding: 10px;
	font-size: 10px;
	color: white;
	background: #5F9EA0;
	border:none;
	border-radius: 5px;
}
h3{
	text-align: center;
}
#member {
	text-align: center;
	font-size:20px;
	background:#5F9EA0;
	color:white;
	padding: 20px;
	font-style:none;
	margin:2px auto;
	font-style:none;
	border-radius:5px;
	font-family: 'Alegreya Sans',sans-serif;
	text-decoration: none;
	opacity: 0.9;
}
a:hover#member{
	color:#C3D7DF;
	background-color:#3b5998;
	text-decoration: none;
}
.error {
	color: #a94442;
	background: #f2dede;
	border:1px solid #a94442;
	border-radius: 5px;
	width:90%;
	margin:0px auto;
	text-align: left;
	padding: 10px;

}#log {
	text-align: center;
	font-size:20px;
	background:#5F9EA0;
	color:white;
	padding: 15px;
	font-style:none;
	margin:2px auto;
	font-style:none;
	border-radius:5px;
	font-family: 'Alegreya Sans',sans-serif;
	text-decoration: none;
}
a:hover#log{
	color:#C3D7DF;
	background-color:#3b5998;
	text-decoration: none;
}
.success {
	color:#3c763d;
	background: #dff0d8;
	border: 1px solid #3c763d;
	margin-botton: 20px;
}
.pic {
	width:400px;
	background-color: #ccc;
	border:10px solid #ddd;
	margin: 0px auto;
}